

.App {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(./img/Gym.jpg) no-repeat;
  max-height: 100%;
  background-size: contain;
}

/*-------NavHeader-------*/
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 125px;
  margin: auto;

}

.Logo{
  display: flex;
  align-items: center;
  font-size: 36px;
  font-family: Raleway-ExtraBold;
  color: white;
}

.Logo img{
  margin-right: 3px;
}

.NavBar{
  margin: 0;
  display: flex;
  padding: 4px;
  align-items: center;
}

.NavBar li{
  display: inline-block;
  margin: 0 20px 0 0;
  list-style: none;
}

.NavBar li a{
  font-size: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.3s;
}

.NavBar li a:hover{
  color: #c7b299;
}

.nav-img{
  width: 70%;
}
/*-----------------------*/

/*-------Join-------*/

.join{
  height: 600px;
  opacity: 0;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}
.join h1,h2,h3{
  color:white;
}

.join h1{
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 52px;
  line-height: 0.7em;
}

.join h2{
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 36px;
  margin-top: 248px;
  line-height: 0.4em;
}

.join h3{
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 20px;
  line-height: 2em;
}

.join a{
  display: -ms-flexbox;
  padding: 15px 20px 15px 20px;
  border: 2px;
  border-radius: 10px;
  background: #998675;
  color: white;
  text-decoration: none;
  font-family: Raleway;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
}

.join a:hover{
  background: #7d6e61;
  border-radius: 20px;
}

/*-----------------*/

/*-------Footer-------*/

.TopFooter{
  background: #191919;
  display: flex;
  height: 507px;
  border-bottom: solid 2px #242424;
  border-top: solid 2px #242424;
}

.TFContainer{
  display: flex;
  width: 870px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

.Describe{
  max-width: 261px;
  max-height: 348px;
  text-align: left;
  margin-right: 45px;
}


.PostLogo {
  display: flex;
  align-items: center;
  max-height: 58px;
}

.PostLogo h3{
  font-size: 34px;
  font-family: sans-serif;
  color: white;
}

.Describe p{
  font-size: 18px;
  color: #555555;
  font-family: Montserrat;
  line-height: 1.4em;
}

.Describe a{
  text-decoration: none;
  color:white;
  transition: 0.3s;
}

.Describe a:hover{
  color:gray;
}

.RecentPost{
  max-width: 261px;
  max-height: 348px;
  text-align: left;
  margin-right: 45px;
}

.Post{
  border-bottom: solid 1px #242424;
  color: #555555;
  font-size: 15px;
  transition: 0.3s;
}

.PostDate{
  line-height: 0.3em;
  color: #353535;
  transition: 0.3s;
}

.Post:hover > .PostDate{
  color: white;
}

.Post:hover > p{
  color: #c7b299;
}

.OurTwit{
  max-width: 261px;
  max-height: 348px;
  text-align: left;
  margin-right: 45px;
}

.BotFooter{
  background: #111111;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

.BotFooter ul{
  display: flex;
  align-items: center;
}

.BotFooter ul li{
  margin-left: 10px;
  list-style: none;
  padding-left: 10px;
  border-left: solid 2px #1a1a1a;

}

.BotFooter ul li a{
  text-decoration: none;
  color: #4a4a4a;
  transition: 0.3s;

}

.BotFooter a:hover{
  color: #c7b299;
}

.BotFooter p{
  color: #4a4a4a;
}

.BotFooter span{
  color: #888888;
}

.BotFooter span1{
  border-left: solid 2px #1a1a1a;
  margin-left:10px;
  margin-right:5px;
}
/*----------------------*/

/*---------Register/Login-----------*/
.Form{
  background: #191919;
  display: table;
  width: 686px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 40px;
  opacity: 0;
  transform: translateY(-150%);
  animation: ani 1s forwards;

}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
  0% {transform: translateY(120%);}
  100% {transform: translateY(0);}
}

.InputForm input{
  width: 587px;
  height: 50px;
  background: #373737;
  border: none;
  border-radius: 16px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}
.Form button{
  background: #796d53;
  color: white;
  width: 278px;
  height: 55px;
  border-style: none;
  border-color: #796d53;
  border-radius: 20px;
  font-size: 32px;
  font-family: sans-serif;
  transition: 0.3s;
}

.Form button:hover{
  cursor: pointer;
  border-radius: 25px;
  background: #918464;
}

.RegLog{
  color:white;
  font-size: 40px;
  font-family: sans-serif;
}

.log{
  color: #545454;
}

.log a{
  text-decoration: none;
  color: #918464;
}
/*---------------------------------*/

/*--------Client/Admin page--------*/

.Client-card{
  width: 1177px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px 40px 0 0;
  background-color: #191919;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
.Base-info{
  display: flex;
  width: 1050px;
  height: 190px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.info{
  margin-left: 70px;
  text-align: left;
  line-height: 15px;
}

.info p{
  color: white;
  font-family: sans-serif;
}

.Name{
  font-size: 40px;
}

.Role{
  font-size: 34px;
}

/*---------------------------------*/

/*-------Services--------*/

.services{
  width: 1177px;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px 40px 0 0;
  background-color: #191919;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}

.serv-container{
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}

.serv-container h1{
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  padding-top: 40px;
}

.serv-container-in p{
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  text-align: left;
  line-height: 0.5;
}

.serv-in{
  display: flex;
  justify-content: space-around;
}

.standard{
  width: 290px;
  height: 130px;
  border-radius: 20px;
  background-color: #c7b299;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.standard:hover{
  border-radius: 30px;
}


.standard p{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

.silver{
  width: 290px;
  height: 130px;
  border-radius: 20px;
  background-color: #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.silver:hover{
  border-radius: 30px;
}

.silver p{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

.gold{
  width: 290px;
  height: 130px;
  border-radius: 20px;
  background-color: #cfc35a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.gold:hover{
  border-radius: 30px;
}

.gold p{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

/*-----------------------*/

/*--------Inventory---------*/

.inv-div{
  width: 300px;
  height: 300px;
  background-color: #c6b198;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.inv-div:hover{
  border-radius: 40px;
}

.inv-div img{
  width: 300px;
  height: 300px;
}

/*--------------------------*/
